* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: center;
  color: #002d75;
}

header .logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: center;
  font-size: 22px;
  padding: 18px;
  background-color: #b1d281;
}

header nav a {
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

header nav a:hover {
  color: #002d75;
}

header nav a.active {
  color: #002d75;
  border-bottom: 4px solid #002d75;
}

.prodotti {
  background-image: url("/img/fondo-pag-speciali.jpg");
}

.prodotti h2 {
  padding: 30px 0;
  font-size: 2rem;
  text-shadow: 2px 2px white;
}

.prodotti .container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.prodotti .container .pasta {
  width: calc(100% / 3 - 80px);
  margin: 40px;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.prodotti .container .pasta img.pasta-img {
  width: 100%;
  transition: transform 0.4s linear;
}

.prodotti .container .pasta .overlay {
  width: 100%;
  height: 100%;
  display: none;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.prodotti .container .pasta .overlay a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.prodotti .container .pasta .overlay a:hover {
  color: #002d75;
  text-decoration: underline;
}

.prodotti .container .pasta .overlay img.icon {
  width: 80px;
}

.prodotti .container .pasta:hover img.pasta-img {
  transform: scale(1.2);
}

.prodotti .container .pasta:hover .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .prodotti .container .pasta {
    width: calc(100% / 2 - 60px);
    margin: 20px;
  }

  .prodotti .container .pasta .overlay img.icon {
    width: 50px;
  }
}

.singolo-prodotto {
  background-image: url("/img/fondo-pag-speciali.jpg");
}

.singolo-prodotto h2 {
  padding: 20px 0;
  font-size: xx-large;
  text-align: center;
  color: black;
  text-shadow: 1px 1px white;
}

.singolo-prodotto .container {
  width: 75%;
  margin: auto;
}

.singolo-prodotto .descrizione,
.singolo-prodotto p.cottura {
  background-color: #b7d9e3;
  border-radius: 5px;
}

.singolo-prodotto .descrizione {
  padding: 40px;
}

.singolo-prodotto .descrizione ol {
  margin: 1.2rem;
}

.singolo-prodotto .descrizione ol li {
  margin: 5px 2rem;
}

.singolo-prodotto p.cottura {
  padding: 20px 10px;
  text-align: center;
  line-height: 25px;
}

.singolo-prodotto .img-wrapper {
  text-align: center;
}

footer {
  padding-top: 60px;
  background-color: white;
}

footer .container {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

footer .footer-logo img {
  width: 90%;
}

footer .col {
  width: calc(100% / 4);
}

footer h3 {
  padding: 20px 0;
  color: #002d75;
}

footer ul {
  list-style: none;
}

footer ul li {
  padding: 8px 0;
  color: lightgrey;
}

footer ul li a {
  text-decoration: none;
  font-size: 16px;
  color: lightgrey;
}

footer ul.info {
  padding: 20px 0;
}

footer ul.info li {
  font-size: 12px;
}

footer ul.info li strong {
  color: grey;
}

@media screen and (max-width: 680px) {
  footer .col {
    width: 100%;
    text-align: center;
  }

  footer .footer-logo img {
    width: 200px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 0;
}

.row .col {
  width: calc(100% / 3);
  padding: 0 2px;
  overflow: hidden;
}

.row .col img {
  width: 100%;
  transition: transform 2s linear;
}

.row .col:hover img {
  transform: scale(1.3);
}

@media screen and (min-width: 601px) and (max-width: 860px) {
  .row .col {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 600px) {
  .row .col {
    width: 100%;
  }
}

